layout {
   cwd "~/projects/cotuong-rs" 
   tab name="editor" {
        pane split_direction="vertical" {
            pane edit="src/lib.rs"
        }
    }

    tab name="run-client" {
        pane split_direction="vertical" {
            pane command="just" start_suspended=true borderless=false {
                args "rc"
            }

            pane command="just" start_suspended=true borderless=false {
                args "rcw"
            }
        }
    }

    tab name="run-server" {
        pane command="just" start_suspended=true {
            args "rs"
        }
    }

    default_tab_template {
        children
        pane size=1 borderless=true cwd="~/projects/cotuong-rs" {
            plugin location="zellij:compact-bar"
        }
    }
}
